//
//  Secrets.xcconfig
//  CloudSage
//
//  Created by Jin Lee on 9/12/24.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// 실제 광고 API-Key
Google_Mobile_Ads_Key = ca-app-pub-3868631631541060/2741387090

// 테스트 광고 API-Key
//Google_Mobile_Ads_Key = ca-app-pub-3940256099942544/1712485313
